.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cellInput{
  width: 50px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  padding:0;
  border: 1px solid black
}

table{
  border-collapse: collapse;
  border: 3px solid beige;
  background-color: beige;
}

td{
  padding: 0
}

.btnContainer{
  margin-top: 20px;
} 

.btn{
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
  margin: 10px
}

.checkBtn{
  background-color: aqua;
}

.solveBtn{
  background-color: aquamarine;
}

.resetBtn{
  background-color: blueviolet;
}

.bBorder{
  border-bottom: 1px solid black;
}

.rBorder {
  border-right: 1px solid black
}